.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

.idea/
.vscode/
*.iml

android/.gradle/
android/app/debug.keystore

ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.podspec.json
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/

macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

.history/
.qoder/